.footer_service_frame{
    padding:80px 0px;
    margin-bottom: 80px;
    h2{
        font-size: 48px;
    }
    .start_use_frame{
        max-width: 188px;
        padding:20px 32px 20px 40px;
        margin-top:40px;
    }
}
.start_use_p_content{
    font-size: 20px;
}

.start_use_frame span{
    font-size:15px;
    padding-left:16px;
}
.footer_hyperlink_frame{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding:80px 0px;
    a{
        font-size: 80px;
        text-decoration: none;
        color: #FFFFFF
    }
    img{
    max-width: 246px;
    }
}
.infor_link_frame{
    padding:32px 0px;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        margin-left:auto;
    }
}
.infor_link_brand_list{
    li{
        font-size: 16px;
    }
}
.mgR80{
    margin-right: 100px;
}
.mgR100{
    margin-right: 80px;
}
.mgR20{
    margin-right: 20px;
}
.mgL20{
    margin-left: 20px;
}

.infor_link_back_list{
    .back_to_top{
        font-size: 16px;
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 16px;
    }
    span{
        font-size: 10px;
        color: #FFFFFF;
    }
}

@media(max-width:376px){
    .footer_service_frame{
        padding:120px 72px;
        margin-bottom: 40px;
        h2{
            font-size: 32px;
        }
        .start_use_frame{
            margin-top:32px;
        }
    }
    .footer_hyperlink_frame{
        padding:40px 0px;
        flex-direction: column;
        a{
            font-size: 48px;
            text-decoration: none;
            color: #FFFFFF
        }
        img{
        width: 65%;
        }
    }
    .footer_hyperlink_p_frame{
        order:2;
        margin-top: 40px;
    }
    // .infor_link_frame_wrap{
    //     flex-wrap:wrap;
    // }
    .infor_link_brand_list{
        order:2;
    }
}