.section3_frame{
    margin-bottom: 160px;
    flex-wrap: wrap;
    gap:48px;
}
.section3_h3_content{
    font-size: 32px;
    width:30%;
    // margin-bottom: 80px;
}
.section3_rule_card_frame{
    width: 65%;
    gap:40px;
}
.section3_rule_list_frame{
    padding-bottom: 40px;
    border-bottom: 1px solid #525252;
}
.section3_rule_h3_content{
    font-size: 48px;
    margin-bottom:24px;
}
.section3_rule_p_content{
    font-size: 32px;
}

// .sponsor_card_logo_frame{
//     padding:0px 118px;
//     // img{
//     //     max-width: 100%;
//     // }
//     overflow-x:scroll;
//     &::-webkit-scrollbar {
//         display: none;
//       }
// }
// .sponsor_card_firm_frame{
//     margin-bottom: 160px;
//     // img{
//     //     max-width: 100%;
//     // }
//     overflow-x:scroll;
//     &::-webkit-scrollbar {
//         display: none;
//       }
// }
// .rel_position{
//     position: relative;
//     margin-bottom: 20px;
// }
// // .gradient_R{
// .rel_position::before{
//     content:"";
//     position: absolute;
//     z-index: 2;
//     left:0px;
//     top:0px;
//     width:192px;
//     height:40px ;
//     background:linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
// }
// //.gradient_L{
// .rel_position::after{
//     content:"";
//     position: absolute;
//     z-index: 2;
//     right:0px;
//     //left:1104px;
//     top:0px;
//     width:192px;
//     height:40px ;
//     background:linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
//     transform: rotate(-180deg);
// }
// .sponsor_list_img_frame{
//     width: 160px;
//     margin:0px 10px;
//     img{
//         height: 40px;
//     }
// }
// // .section3_card_comment_frame{
// //     margin:0 200px;
// // }
// .section3_list_comment_frame{
//     max-width:416px;
//     padding: 40px 40px;
//     background: rgba(255, 255, 255, 0.08);
// }
// .section3_star_icon_list span{
//     font-size: 12px;
// }
// .section3_card_p_content{
//     max-width:336px;
//     font-size: 16px;
//     flex-grow: 1;
//     margin:20px 0px;
// }
// .section3_card_people_frame img{
//     width:48px;
//     margin-right: 16px;
// }
// .section3_card_people{
//     font-size: 16px;
//     margin-bottom: 4px;
// }
// .section3_card_company{
//     font-size: 14px;
// }




@media(max-width:376px){
    .section3_frame{
        margin-bottom: 120px;
    }
    .section3_h3_content{
        font-size: 20px;
        width:95%;   
    }
    .section3_rule_card_frame{
        width:95%
    }
    .section3_rule_h3_content{
        font-size: 32px;
    }
    .section3_rule_p_content{
        font-size: 16px;
    }
}