.section2_h2_content{
    font-size: 32px;
    max-width:414px;
}
.section2_h3_content{
    font-size: 48px;
    max-width:856px;
}
.section2_card_frame{
    margin-top: 80px;
    flex-wrap: wrap;
    gap:24px;
    margin-bottom: 160px;
    // max-width: 1296px;
}
.section2_list_frame{
    width: 49%;
    // padding:80px 40px;
    // span{
    //     color:#FFFFFF;
    //     font-size:60px;
    // }
    // h3{
    //     font-size:32px;
    //     padding:20px 0px;
    // }
    // p{
    //     font-size:16px;
    // }
}

.section2_list_h3{
    margin: 20px 0px 12px 32px;
    font-size: 32px;
}
.section2_list_char{
    width: 90%;
    max-height: 136px;
    flex-grow: 1;
    padding-bottom: 88px;
    margin:0px 32px;
    list-style: inside;
    li{
        font-size: 16px;
    }
}
.section2_list_fee_frame{
    border-top: 1px solid #525252;
    padding:20px 32px;
}
.section2_list_fee_p_content{
    font-size: 20px;
}
.section2_list_fee_span_content{
    font-size: 20px;
}
.section2_start_to_use_frame{
    max-width:95px;
    .section2_start_to_use_text{
        font-size:16px;
        margin-right:16px;
    }
    .section2_start_to_use_icon{
        font-size:10px;
        color:white;
    }
}
@media (max-width: 376px) {
    // .section2_h2h3_frame{
    //     display:flex;
    //     flex-direction: column;
    // }
    .section2_h2_content{
        font-size: 20px;
        margin-bottom: 24px;
    }
    .section2_h3_content{
        font-size: 32px;
    }
    .section2_card_frame{
        flex-wrap: wrap;
        gap: 12px; 
        margin-top: 48px;
        margin-bottom: 120px;
    }
    .section2_list_frame{
        width: 100%;
    }

}